
<div class="layer-controls">

  <% _.each( grupos, function(grupo) { %> 

    <div class="grupo <%= grupo.name %>">

      <div class="grupo-title">
        <%= grupo.title %>
      </div>

    <% _.each( grupo.layers, function(layer) { %> 
      <div class="layer <%= layer.name %>">
        <span class="layer-title"><%= layer.title %></span>
        <img src="<%= layer.icon_url %>">
        <div class="fuente"><%= layer.fuente %></div>
      </div>

    <% }); %>

    </div>

  <% }); %>

</div>

