
<div class="layer-controls">

  <% _.each( grupos, function(grupo) { %> 

    <div class="grupo <%= grupo.name %>">

      <div class="grupo-title">
        <div class="toggle grupo-<%= grupo.name %>">
          <i class="icon-collapse-alt"></i>
          <i class="icon-expand-alt"></i>
        </div>
        <%= grupo.title %>
      </div>

    <% _.each( grupo.layers, function(layer) { %> 
      <div class="layer <%= layer.name %>">
        <span class="layer-title"><%= layer.title %></span>
        <% if (layer.icon_url) { %>
        <img src="<%= layer.icon_url %>">
        <% } %>
        <div class="fuente"> 
          <% if (layer.fuente_url) { %> 
            <a href="<%= layer.fuente_url %>" <% if (layer.fuente_filename) { %>download="<%= layer.fuente_filename %>"<% } %>target="_blank"><%= layer.fuente_name %></a> 
          <% } else { %> 
            <%= layer.fuente_name %>
          <% } %> 
        </div>
      </div>

    <% }); %>

    </div>

  <% }); %>

</div>

