@import 'vars';

.feature-abm-view
{
  position: absolute;
  bottom: $feature_view_bottom;
  width: $sidebar_l_w;
}

.feature-abm-view .abm-container
{
  position: absolute;
  top: 10px;
  left: 10px;
  padding-bottom: $footer_h + 20px;
}

.feature-abm-view .abm-historia
{
  margin-top: 14px;
}

.feature-abm-view .abm-historia button
{
  padding: 0.2em 0.2em;
  font-size: 60%;
  float: left;
  margin-right: 6px;
}

.feature-abm-view .abm-historia span
{
  font-size: 14px;
  position: relative;
  top: -10px;
}

