@import 'vars';

.descripcion.container
{
  background-color: rgba(255,255,255,0.8);
}

.descripcion .texto.content
{
  @include content-center;
  background-color: rgba(255,255,255,0.8);
  margin-bottom: 100px;
}

.descripcion .texto.content .titulo
{
  font-size: 30px;
  font-weight: bold;
}

.descripcion .texto.content .txt
{
  font-size: 30px;
}

.descripcion .texto.content .titulo
,.descripcion .texto.content .txt
{
  margin-left: 40px;
  margin-right: 40px;
}

