@import 'vars';

.detalle.container
{
  pointer-events: none;
  position: absolute;
  width: 100%;
}

.detalle .content
{
  pointer-events: auto;
  position: relative;
  //margin: 0px auto;
  //margin: 0px 220px 0px 320px;
}

