@import 'vars';

.feature-add-to-historia-view
{
  position: absolute;
  bottom: $feature_view_bottom;
}

.feature-add-to-historia-view button
{
  //background-color: #eee;
  //font-size: 70%;
  padding: .5em 0.9em;
  position: absolute;
  top: 10px;
  left: 10px;
}

