@import 'vars';

.titulo.ctr-container
{
  bottom: $titulo_bottom;
  background-color: rgba(255,255,255,0.8);
}

.titulo .ctr-content.texto
{
  padding-top: 20px;
  padding-bottom: 20px;
}

.titulo .ctr-content.texto .titulo
{
  font-size: 30px;
  font-weight: bold;
}

.titulo .ctr-content.texto .txt
{
  font-size: 30px;
}

.titulo .ctr-content.texto .titulo
,.titulo .ctr-content.texto .txt
{
  margin-left: 40px;
  margin-right: 40px;
}

