
<div class="ctr-container">

  <div class="contenido ctr-content ctr-margin">

    <div class="titulo">
      <span>
        <div class="layer-color <%- layer_type %>"></div>
        <img class="layer-icon" src="<%- icon_url %>" />
      </span>
      <span class="titulo-texto"><%- titulo %></span>
    </div>

    <div class="txt">

      <div class="eventos">

        <% _.each( eventos, function( e ) { %> 
          <div class="evento <%- e.name %>"><%- e.txt %></div>
      <% }); %>

      </div>

      <%- txt %>

    </div>

  </div>

  <button class="close ctr-content pure-button">
    <i class="icon-remove"></i>
  </button> 

  <!--<div class="ctr-content close"></div>-->
  <!--<div class="ctr-content close-svg"></div>-->
</div>

