
<div class="titulo ctr-container">
  <div class="texto ctr-content ctr-margin">
    <span>
      <div class="layer-color <%- layer_type %>"></div>
      <img class="layer-icon" src="<%- icon_url %>" />
      </span>
      <span class="titulo-texto"><%- titulo %></span>
    <!--<div class="titulo-texto"><%- titulo %></div>-->
  </div>
  <button class="close ctr-content pure-button">
    <i class="icon-remove"></i>
  </button>
  <!--<div class="ctr-content close"></div>-->
  <!--<div class="ctr-content close-svg"></div>-->
</div>

