
.stats-intro
{
  cursor: default;
  background-color: rgba(250, 250, 250, 0.94);
  width: 40%;
  //height: 20px;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: auto; 
  bottom: auto; 
  left: 0; 
  right: 0;
  color: #555;
  font-size: 16px;
  font-weight: 200;
  line-height: 20px;
  padding: 10px 20px;
  text-align: center;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}


.stats-intro .title
{
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 1); 
}

.stats-intro .close
{
  font-size: 85%;
  padding: .4em .6em;
}

.stats-intro .close.pure-button:hover
{
  background-image: none;
}

