
$evento_type_radius: .25em;

.eventos
{
  margin: 20px 0px;
}

.evento
{
  color: white;
  font-weight: bold;
  font-size: 0.8em;
  margin: 10px 0px;
  padding: 4px 8px; 
  -webkit-border-radius: $evento_type_radius;
  -moz-border-radius: $evento_type_radius;
  border-radius: $evento_type_radius;
}

.evento.ac 
{ 
  background-color: firebrick;
}

.evento.pri 
{ 
  background-color: goldenrod;
}

.evento.reconversion 
{ 
  background-color: seagreen;
}

