
.container .header.pure-menu img
{
  height: 30px;
  margin-right: 10px;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.container .header.pure-menu span
{
  position: relative;
  top: -6px;
}

.header #login img
{
  top: 14px;
}

