
img.monitoreo-social
{
  float: left;
  height: 30px;
  margin-top: 5px;
  margin-left: 5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  //opacity: 0.7;
  //filter:alpha(opacity=40); /* For IE8 and earlier */
}

.container .header.pure-menu 
{
  background-color: #333;
  //position: fixed;
  //top: 0px;
  //height: 40px;
}

.container .header.pure-menu .pure-menu-heading 
{
  color: #fff;
}

.container .header.pure-menu a, .pure-menu .pure-menu-can-have-children>li:after 
{
  color: #aaa;
}

.container .header.pure-menu li a:hover, 
.container .header.pure-menu li a:focus 
{
  //background: #444;
  background: #000;
}

.copete 
{
  //darktheme
  //color: #aaa;
  color: #555;
  padding: 0px 20px;
  /*left: 300px;*/
  /*width: 200px;*/
  /*font-size: 16px;*/
}

.copete .title 
{
  margin: 10px 0px;
  font-size: 14px;
  font-weight: bold;
}

.copete .text 
{
  margin: 10px 0px;
  font-size: 14px;
}

