
#login img
{
  position: relative;
  top: 6px;
}

#login button
{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 0.2em 1.1em;
  font-size: 95%;

  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  //background: rgb(66, 184, 221);
  background: rgb(30,30,30);
}

