@import 'lib/selectize';
@import 'vars';
@import 'zindices';
@import 'scrollbar';
@import 'ui/layers';
@import 'ui/layer_controls';
@import 'ui/widgets';
@import 'ui/search';
@import 'detalles/ctr';
@import 'detalles/close';
@import 'detalles/feature';
@import 'detalles/historia';
@import 'detalles/timeline';
@import 'detalles/titulo';
@import 'detalles/descripcion_historia';
@import 'detalles/feature_preview';
@import 'abm/feature_abm';
@import 'eventos';
@import 'infowin';

body 
{
  background: #eee;
}

html, body 
{
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#map 
{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 200px;
}

.container .header.pure-menu 
{
  background-color: #333;
  //position: fixed;
  //top: 0px;
  //height: 40px;
}

.container .header.pure-menu .pure-menu-heading 
{
  color: #fff;
}

.container .header.pure-menu a, .pure-menu .pure-menu-can-have-children>li:after 
{
  color: #aaa;
}

.container .header.pure-menu li a:hover, 
.container .header.pure-menu li a:focus 
{
  //background: #444;
  background: #000;
}

.copete 
{
  color: #555;
  padding: 0px 20px;
  /*left: 300px;*/
  /*width: 200px;*/
  /*font-size: 16px;*/
}

.copete .title 
{
  margin: 10px 0px;
  font-size: 14px;
  font-weight: bold;
}

.copete .text 
{
  margin: 10px 0px;
  font-size: 14px;
}

#footer 
{
  background-color: #eee;
  /*background-color: rgba(255,255,255,0.3);*/
  position: fixed;
  height: $footer_h;
  bottom: 0px;
}

#footer img 
{
  margin: 14px 10px;
  height: 30px;
}

#footer img.gl 
{
  float: right;
}

.container .pure-menu 
{
  font-size: 18px;
}

.container .pure-menu .pure-menu-heading 
{
  font-weight: bold;
  color: #000;
}

.container .pure-menu li a 
{
  padding: 7px 20px;
}

#login img
{
  position: relative;
  top: 6px;
}

#login button
{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 0.2em 1.1em;
  font-size: 95%;

  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  //background: rgb(66, 184, 221);
  background: rgb(30,30,30);
}

.icon.goto-origin
{
  font-size: 14px;

  position: absolute;
  //top: 0px;
  left: $sidebar_l_w + 110px;
  //padding: .5em .5em; 
  padding: 1.5px 4px; 
  margin: 5px;

  background-color: white;
  border: 1px solid #aaa;
  cursor: pointer;
  box-shadow: -1px 1px 2px #bbbbbb;
}

.icon.goto-origin:hover
{
  background-color: #eee;
}

