
@import 'lib/selectize';
@import 'lib/pure-min';
@import 'lib/jquery.qtip';
@import 'lib/jquery.tipsy';
@import 'lib/jquery.dataTables';

@import 'vars';
@import 'zindices';
@import 'scrollbar';
@import 'header';
@import 'login';
@import 'ui/sidebar';
@import 'ui/layer_controls';
@import 'ui/widgets';
@import 'ui/search';
@import 'detalles/ctr';
@import 'detalles/close';
@import 'detalles/feature';
@import 'detalles/historia';
@import 'detalles/timeline';
@import 'detalles/titulo';
@import 'detalles/descripcion_historia';
@import 'detalles/feature_preview';
@import 'abm/feature_abm';
@import 'stats/stats_layer';
@import 'stats/stats_intro';
@import 'eventos';
@import 'infowin';
@import 'info';
@import 'tabla';

body 
{
  //darktheme
  //background: #444;
  background: #eee;
}

html, body 
{
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#map 
{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 200px;
}

#footer 
{
  background-color: #eee;
  /*background-color: rgba(255,255,255,0.3);*/
  position: fixed;
  height: $footer_h;
  bottom: 0px;
}

#footer .logo
{
  float: left;
}

#footer .logo.gl 
{
  float: right;
}

#footer img 
{
  margin: 14px 10px;
  height: 30px;
}

.container .pure-menu 
{
  font-size: 18px;
}

.container .pure-menu .pure-menu-heading 
{
  font-weight: bold;
  color: #000;
}

.container .pure-menu li a 
{
  padding: 7px 20px;
}

.icon.goto-origin
{
  font-size: 14px;

  position: absolute;
  //top: 0px;
  left: $sidebar_l_w + 110px;
  //padding: .5em .5em; 
  padding: 1.5px 4px; 
  margin: 5px;

  background-color: white;
  border: 1px solid #aaa;
  cursor: pointer;
  box-shadow: -1px 1px 2px #bbbbbb;
}

.icon.goto-origin:hover
{
  background-color: #eee;
}

