
$footer_h: 60px;
$sidebar_r_w: 300px;
$sidebar_l_w: 200px;
$gmaps_ctrls_w: 100px;
$feature_view_bottom: 250px;
$titulo_bottom: 200px;
$timeline_bottom: -300px;
$widgets_top: 140px;
$widgets_w: 225px;
$detalle_bg: rgba(255,255,255,0.94);

