
#footer { z-index: 999999; }
.timeline .content { z-index: 1; }
.info { z-index: 1; }
.descripcion .content { z-index: 2; }
.selectize-input { z-index: 0; }
.tabla { z-index: 0; }
//.layers .layer img { z-index: 1; }
//.feature-view { z-index: 1; }
//.historia-view { z-index: 1; }
//#map { z-index: 0; }
//.layers { z-index: 1; }
//.copete { z-index: 1; }
//.container .header.pure-menu { z-index: 0; }

