
#footer { z-index: 999999; }
.timeline .content { z-index: 1; }
.descripcion .content { z-index: 2; }
.selectize-input { z-index: 0; }
//#map { z-index: 0; }
//.layers { z-index: 1; }
//.copete { z-index: 1; }
//.container .header.pure-menu { z-index: 0; }

