@import 'vars';

.ctr-container
{
  pointer-events: none;
  position: absolute;
  width: 100%;
}

.ctr-content
{
  pointer-events: auto;
  //position: relative;
  //margin: 0px auto;
  //margin: 0px 220px 0px 320px;
}

.ctr-margin
{
  margin-left: ($sidebar_l_w);
  //margin-left: ($sidebar_l_w + $gmaps_ctrls_w + 20px);
  margin-right: ($sidebar_r_w);
}

