@import 'vars';

.descripcion-historia-view
{
  position: absolute;
  width: 100%;
}

.descripcion-historia.ctr-container
{
  background-color: $detalle_bg;
}

.descripcion-historia .texto
{
  overflow-y: auto;
  font-size: 16px;
  font-weight: 200;
  line-height: 30px;
  margin-bottom: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.descripcion-historia .texto .txt
{
  margin-left: 40px;
  margin-right: 40px;
}

.descripcion-historia .link
{
  margin: 16px 0px;
}

.descripcion-historia img
{
  max-width: 300px;
}

