@import 'vars';

.feature-preview-view
{
  position: absolute;
  width: 100%;
}

.feature-preview
{
  height: 500px;  
  //padding-top: 20px;
  padding: 18px 12px;
  //bottom: $timeline_bottom;
  width: $sidebar_r_w;
  position: absolute;
  right: 0px;

  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #eee;
  -webkit-border-radius: 8px 0px 0px 8px;
  border-radius: 8px 0px 0px 8px;
}

.feature-preview .titulo
{
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
}

.feature-preview .date
{
  font-size: 25px;
  line-height: 30px;
  margin: 20px;
  font-weight: 200;
}

.feature-preview .txt
{
  font-size: 16px;
  line-height: 20px;
  margin: 20px;
  font-weight: 200;
}

.feature-preview img
{
  max-width: $sidebar_r_w - 40px;
}

