@import 'vars';

.feature-view
{
  position: absolute;
  width: 100%;
  bottom: $feature_view_bottom;
}

.feature-view .ctr-container
{
  background-color: $detalle_bg;
}

.feature-view .contenido
{
  padding-top: 20px;
  padding-bottom: 20px;
}

.feature-view .contenido .titulo
{ 
  font-size: 26px;
  font-weight: bold;
  line-height: 40px;
  margin-bottom: 10px;
}

.feature-view .contenido
{
  min-height: $feature_view_bottom + 100px;
  font-size: 16px;
  font-weight: 200;
  line-height: 22px;
  margin-bottom: 100px;
}

.feature-view .eventos
{
  font-size: 20px;
}

.feature-view .contenido .refdata
{
  font-size: 20px;
}

.feature-view .contenido .titulo
,.feature-view .contenido .txt
,.feature-view .contenido .refdata
{
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 10px;
}

.feature-view .contenido .link
{
  margin: 16px 0px;
}

.feature-view img
{
  max-width: 300px;
}

.feature-view .contenido .titulo .titulo-texto
{
  position: relative;
  margin-left: 50px;
  //top: 4px;
}

.feature-view .layer-icon
{
  position: absolute;
  padding: 7.5px;
}

.feature-view .layer-color
{
  color: white;
  position: absolute;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

