
.historia-view .titulo .layer-icon
{
  position: absolute;
  padding: 3px 10px;
  width: 18px;
}

.historia-view .titulo .layer-color
{
  color: white;
  position: absolute;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

