@import 'vars';

.timeline.ctr-container
{
  bottom: $timeline_bottom;
  left: 0px;  
  background-color: rgba(255,255,255,0.8);
}

.timeline .ctr-content
{
  overflow: hidden;
  //margin-left: ($sidebar_l_w);
  //margin-right: ($sidebar_r_w);
}

.timeline svg
{
  display: block;
  margin: auto;
}

.timeline .timer-advocacy
{
  font-weight: 500;
  font-size: 14px;
  alignment-baseline: hanging;
  cursor: default;
}

.timeline .axis text 
{
  font: 10px sans-serif;
}

.timeline .axis line
,.timeline .axis path 
{
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

