@import 'vars';

.titulo.ctr-container
{
  bottom: $titulo_bottom;
  background-color: $detalle_bg;
}

.titulo .texto
{
  padding-top: 20px;
  padding-bottom: 20px;
}

.titulo .texto .titulo-texto
{
  font-size: 30px;
  font-weight: bold;
  margin-left: 50px;
  margin-right: 40px;
}

