@import 'vars';

$layer_ctrl_icon_left: 0px;
$layer_ctrl_icon_top: 3px;
//$layer_ctrl_icon_left: 32px;

.layers .grupo 
{
  margin: 5px 10px 20px 10px; 
}

.layers .grupo-title
{
  cursor: default;
  //font-size: 15px;
  font-weight: 600;
  line-height: 30px;
}

.layers .grupo-title .toggle
{
  cursor: pointer;
  float: right;
}

.layers .layer 
{
  margin: 1px 0px; 
  padding: 5px;
  height: 27px;
  line-height: 20px;
  cursor: pointer;
  color: #333;
}

.layers .layer .fuente
{
  font-size: 9px;
  position: relative;
  top: -5px;
  color: #444;
}

.layers .layer.visible .layer-title
{
  color: #000;
  font-weight: bold;
}

.layers .layer img 
{
  float: right;
  position: relative;
  opacity: 0.5;
  filter:alpha(opacity=50); /* For IE8 and earlier */
}

.layers .layer.visible img 
{
  opacity: 1.0;
  filter:alpha(opacity=100); /* For IE8 and earlier */
}

//.layers .layer .visibility-feedback
//{
  //position: relative;
  //float: right;
  //width: 34px;
  //height: 30px;
  //bottom: 5px;
  //left: 5px;
//}

//.layers .layer.visible .visibility-feedback
//{
  //background-color: rgba(255,255,255,0.2);
//}

//.layers .separador 
//{
  //margin: 6px 10px;
  //border: 1px solid gray;
//}


// layers especificos


.layers .layer.enviar-alerta
{
  color: lightgray;
  background-color: rgba(0, 0, 0, 0.8);
}
.layers .layer.enviar-alerta:hover
{
  background-color: rgba(0, 0, 0, 1.0);
}

.layers .layer.historias
,.layers .layer.enviar-alerta
{
  height: 30px;
  line-height: 30px;
  //font-weight: bold;
  //margin: 4px 0px;
}

.layers .layer.historias .fuente
{
  top: -16px;
}

.layers .layer.enviar-alerta
{
  font-weight: bold;
}

//.layers .layer.historias .visibility-feedback
//{
  //height: 39px;
//}

.layers .layer img 
{
  top: $layer_ctrl_icon_top;
}

.layers .layer.historias img 
{
  height: 38px;
  top: $layer_ctrl_icon_top - 7px;
  left: $layer_ctrl_icon_left;
}

.layers .layer.alertas img 
{
  height: 20px;
  top: $layer_ctrl_icon_top - 0px;
  left: $layer_ctrl_icon_left + 1px;
}

.layers .layer.acciones img 
,.layers .layer.respuestas img 
{
  height: 20px;
  left: $layer_ctrl_icon_left;
}

.layers .layer.noticias img 
{
  left: $layer_ctrl_icon_left + 2px;
}

.layers .layer.industrias img
,.layers .layer.basurales img 
,.layers .layer.ecopuntos img 
{
  height: 20px;
  left: $layer_ctrl_icon_left;
}

.layers .layer.asentamientos img 
,.layers .layer.subcuencas img 
{
  top: $layer_ctrl_icon_top - 3px;
  left: $layer_ctrl_icon_left + 2px;
}

.layers .layer.documentos img 
,.layers .layer.normativas img 
{
  height: 22px;
  left: $layer_ctrl_icon_left + 2px;
}

