@import 'vars';

.search
{
  position: absolute;
  right: 10px;
}

.search .search-field
{
  position: absolute;
  right: 0px;
}

.search .search-municipios { top: 10px; }
.search .search-geoloc { top: 40px; }
.search .search-feature { top: 90px; }

.search .search-field .selectize-input
,.search .search-geoloc input[type=text]
{
  font-size: 13px;
  height: 30px;
  width: 225px;
  padding: 5px;
}

@mixin placeholder
{
  font-size: 12px;
  padding: 1px;
}

.search-field ::-webkit-input-placeholder 
{ @include placeholder; }
.search-field :-moz-placeholder
{ @include placeholder; }
.search-field ::-moz-placeholder
{ @include placeholder; }
.search-field :-ms-input-placeholder  
{ @include placeholder; }

.pac-container 
{
  font-size: 16px;
}

